.text-logo {
    background-image: url(../images/menu-background.jpg);
    background-size: cover;
    padding: 25px;
}
.sidebar-toc {
    font-size: 15px;
    padding-left: 15px;
}
.sidebar-toc ul li.current > a:hover {
  background-color: #e28614;
  color: #ffffff;
}
h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: "Open Sans";
}